
@media screen and (max-width: 768px) {

.contenedorEquipos{
    margin: 5px;
    padding: 5px;

}

.parrafoEquipos p{
    padding: 30px;
}

.imgHome {
width: 200px;
height: 200px;
margin: 1px;
padding: 5px;
}

footer {
padding: 10px;
margin: 0;
}

.imgEquipo {
width: 520px;
height: 300px;
position: relative;
left: 50px;
}

.formulario {
margin: 30px;
margin-left: 100px;
margin-bottom: 100px;
border-left: 2px solid white;
border: solid 2px white;
}

.imgnoticias {
display: none;
}

.contenedorFlex {
display: flex;
flex-direction: column;
}

.itemFlex {
margin: 10px;
padding: 10px;
}

iframe {
position: relative;
right: -100px;
width: 400px;

}

.img1 {
width: 400px;
height: 200px;
background-image: url(../img/mookie-betts.jpg);
background-size: cover;
margin: 20px;
padding: 10px;
}

.img2 {
background-image: url(../img/mike-trout.jpg);
background-size: cover;
width: 400px;
height: 200px;
margin: 20px;
padding: 10px;
}

.img3 {
background-image: url(../img/fernando-tatisjr.jpg);
width: 400px;
height: 200px;
background-size: cover;
margin: 20px;
padding: 10px;

}

.imgHome{
width: 30%;
}

.formEquipos{
    position: relative; 
    left: 70px;
}



}

@media screen and (max-width: 576px) {

.imgEquipo {
width: 400px;
height: 300px;
position: relative;
left: 50px;
}

.formEquipos {
font-size: 10px;

}

.divEquipos{
display: flex; 
}

.imgHome{
width: 29%;  
}

footer{
padding-left: 150px;
}

}

@media screen and (max-width: 466px){

.imgEquipo{
width: 300px; 
}

footer{
padding-left: 150px;
}

}
