@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Fredoka+One&family=Original+Surfer&family=Patrick+Hand&display=swap');

@font-face {
  font-family: "titulos" ;
  src: url(./fonts/RubikGlitch-Regular.ttf);

  @font-face {
    font-family: "titulo2" ;
    src: url(./fonts/GrapeNuts-Regular.ttf);
  }

}
@import 'variables';
@import 'animaciones';

* {
  margin: 0;
  padding: 0;
}


body {
  background-image: linear-gradient(to left, black, gray, black, gray);

}

.titulo {

  text-align: center;
  font-family: "titulos";
  font-size: 40px;
  background-image: linear-gradient(black, gray);
  color: $colorTexto;
  animation-name: mianimacion;
  animation-duration: 15s;
  animation-delay: 3s;
}

// imagenes
.imgnoticias {
  width: 300px;
  height: 300px;
  border-radius: 5vh;
  margin: 70px;
}

.imgEquipo {
  width: 70%;
  height: 500px;
  border-radius: 7vh;
  margin-left: 20px;  
}

.appImg {
  width: 400px;
  height: 100px;
  position: relative;
  left: 900px;

}

.botonCompra {
  position: relative;
  left: 100px;
}

// logo de pagina (menu)

.contenedorLogo {
  background-image: url(../img/pelotas-blancas.jpg);
  background-size: cover;

  #logo {
    height: 100px;
    width: 100px;
    border-radius: 50pt;
    padding: 10px;
  }
}

article {
  margin: 70px;

  p {
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: $colorTexto;
  }
}

p {
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: $colorTexto
}

// FlexBox
.contenedorFlex {
  display: flex;
  justify-content: flex-start;

  .itemFlex {
    width: auto;
    height: auto;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to left, black, gray, black);
    color: $colorTexto;
  }
}

.contenedor2 {
  display: flex;
  justify-content: flex-start;

  .itemFlex {
    margin: 50px;
    padding: 50px;
    background-image: linear-gradient(to left, black, gray, black);
    color: $colorTexto;

    h2 {
      text-align: center;
    }

  }
}

iframe {

  position: relative;
  right: -400px;
  width: 500px;
  height: 400px;
}

.tabla-boletos {
  border-radius: 5vh;
  color: $colorTexto;
  margin: 30px;

  td {
    width: 90px;
    height: 50px;

    border: {
    top: solid 5px white;
    right: solid 5px white;
    bottom: solid 5px white;
    left: solid 5px white;
    radius: 5vh;

    }

    text-align: center;

    tr {

      width: 90px;
      height: 50px;

      border: {
      top: solid 5px white;
      right: solid 5px white;
      bottom: solid 5px white;
      left: solid 5px white;
      radius: 5vh;
      }

      text-align: center;

    }
  }
}

.formulario {
  margin: 100px;

  margin: {
    top: 100px;
    left: 500px;
    right: 500px
  }

  border-radius: 5vh;
  padding: 20px;

    border: {
    top: solid 3px white;
    right: solid 3px white;
    bottom: solid 3px white;
    left: solid 3px white;
  }
color: $colorTexto;

}

input{
  border-radius: 10px;
}

.formEquipos {
  position: relative;
  left: 150px;


.seleccionEquipos {
  font-size: 20px;
  color: $colorTexto;
 
  }
}

/* Pie De Pagina */
footer {
  font-size: 20px;
  text-align: center;
  color: $colorTexto;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  background-image: linear-gradient(to left, gray, black, gray, black);
}

  .tituloRedes{
    position: relative;
    right: 235px;
    margin-top: 20px;
  }


.redes {
    position: relative;
    right: 235px;
  }


.logoInstagram {
  position: relative;
  right: 240px;
  margin: 5px;
}

.logoFacebook {
  position: relative;
  right: 240px;

}

.logowhatsapp {
  position: relative;
  right: 240px;
  margin: 5px;
}

.contenedorEntradas {
  display: grid;
  grid-template-columns: auto auto auto;

}

.caja1 {
  grid-column: auto;
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/yankeeEntradas.jpg);
  background-size: cover;

}

.caja2 {
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/bostonEntradas.jpg);
  background-size: cover;
}

.caja3 {
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/astrosEntradas.gif);
  background-size: cover;
}

.botonComprar {
  position: relative;
  left: 65px;
  top: 200px;
}

.navbarLetras{
  font-family: "titulo2";
  
  }

  .navbarLetras:hover{
    transition: 0,5s;
    background-color: transparent;
    color: transparent;
    border-radius: 10px 30px;
    box-shadow: 0px 0px 40px whitesmoke;
    
  }

  .text-center{
    display: flex;
    
    }

  .imgHome {
    width: 29%;
    border-radius: 20px;
    margin: 20px;
    }

    .seccionContacto{
      position: relative;
      top: 100px;
    }
   
         // Media Query

@media screen and (max-width: 768px) {
  .imgHome {
    width: 200px;
    height: 200px;
    margin: 1px;
    padding: 5px;
  }

  footer {
    padding: 10px;
    margin: 0;

  }

  .imgEquipo {
    width: 520px;
    height: 300px;
    position: relative;
    left: 50px;
  }

  .formulario {
    margin: 30px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-left: 2px solid white;
    border: solid 2px white;
  }

  .imgnoticias {
    display: none;
  }

  .contenedorFlex {
    display: flex;
    flex-direction: column;
  }

  .itemFlex {
    margin: 10px;
    padding: 10px;
  }

  iframe {
    position: relative;
    right: -100px;
    width: 400px;

  }

  .img1 {
    width: 400px;
    height: 200px;
    background-image: url(../img/mookie-betts.jpg);
    background-size: cover;
    margin: 20px;
    padding: 10px;
  }

  .img2 {
    background-image: url(../img/mike-trout.jpg);
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 10px;
  }

  .img3 {
    background-image: url(../img/fernando-tatisjr.jpg);
    width: 400px;
    height: 200px;
    background-size: cover;
    margin: 20px;
    padding: 10px;

  }

  .imgHome{
    width: 30%;
    
  }

}

@media screen and (max-width: 576px) {

  .imgEquipo {
    width: 400px;
    height: 300px;
    position: relative;
    left: 50px;
  }

  .formEquipos {
    font-size: 10px;

  }

  .divEquipos{
   display: flex; 
}

.imgHome{
  width: 29%;  
}

footer{
  padding-left: 150px;
}

}

@media screen and (max-width: 466px){

  .imgEquipo{
    width: 300px; 
    }

    footer{
      padding-left: 150px;
    }

}
