@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Fredoka+One&family=Original+Surfer&family=Patrick+Hand&display=swap');

@font-face {
  font-family: "titulos";
  src: url(./fonts/RubikGlitch-Regular.ttf);

}

@font-face {
  font-family: "titulos2";
  src: url(./fonts/IndieFlower-Regular.ttf);
}

@import 'variables';
@import 'animaciones';
@import 'mediaQuery';

* {
  margin: 0;
  padding: 0;
}


body {
  background-image: linear-gradient(to left, black, gray, black, gray);
  // width: 100%;
  
}

.titulo {

  text-align: center;
  font-family: "titulos";
  font-size: 40px;
  background-image: linear-gradient(black, gray);
  color: $colorTexto;
  animation-name: mianimacion;
  animation-duration: 15s;
  animation-delay: 3s;
}

// imagenes
.imgnoticias {
  width: 300px;
  height: 250px;
  border-radius: 5vh;
  
}

.imgEquipo {
  // width: 600px;
  // height: 400px;
  border-radius: 7vh;
  
}

.botonCompra {
  position: relative;
  left: 100px;
}

// logo de pagina (menu)

.contenedorLogo {
  background-image: url(../img/pelotas-blancas.jpg);
  background-size: cover;

  #logo {
    height: 100px;
    width: 100px;
    border-radius: 50pt;
    padding: 10px;
  }
}

article {
  margin: 10px;
  padding: 10px;

  p {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: $colorTexto;
  }
}

p {
  color: $colorTexto;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

// FlexBox NOTICIAS

.contenedorFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 .itemFlex {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to left, black, gray, black);
    color: $colorTexto;
    border-radius: 30px;

  }
}

iframe {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.tabla-boletos {
  border-radius: 5vh;
  color: $colorTexto;
  margin: 30px;
  margin-top: 200px;

  td {
    width: 90px;
    height: 50px;

    border: {
      top: solid 5px white;
      right: solid 5px white;
      bottom: solid 5px white;
      left: solid 5px white;
      radius: 5vh;

    }

    text-align: center;

    tr {

      width: 90px;
      height: 50px;

      border: {
        top: solid 5px white;
        right: solid 5px white;
        bottom: solid 5px white;
        left: solid 5px white;
        radius: 5vh;
      }

      text-align: center;

    }
  }
}

form {
  text-align: center;
  display: inline-block;
  border: 5px;
  margin: 10px;
  border-radius: 5vh;
  padding: 10px;
  justify-content: center;
      border: {
      top: solid 3px white;
      right: solid 3px white;
      bottom: solid 3px white;
      left: solid 3px white;
  }
      color: $colorTexto;
}

input {
  border-radius: 10px;
  margin: 2px;
}

textarea{
  border-radius: 20px;
}


.seleccionEquipos {
margin-left: 10px;
  font-size: 20px;
  color: $colorTexto;

}

.contenedorEntradas {
  display: grid;
  grid-template-columns: auto auto auto;

}

.caja1 {
  grid-column: auto;
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/yankeeEntradas.jpg);
  background-size: cover;

}

.caja2 {
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/bostonEntradas.jpg);
  background-size: cover;
}

.caja3 {
  width: 250px;
  height: 250px;
  border: solid 3px black;
  margin: 80px;
  background-image: url(../img/astrosEntradas.gif);
  background-size: cover;
}

.botonComprar {
  position: relative;
  left: 65px;
  top: 200px;
}

.navbarLetras {
  font-family: "titulos2";

}

.navbarLetras:hover {
  border-radius: 10px 30px;
  box-shadow: 0px 0px 40px whitesmoke;

}

.text-center {
  justify-content: center;

}

.imgHome {
  width: 30%;
  border-radius: 20px;
}

.contenedorBoleteria {
  margin: 20px;
  padding: 20px;
  
}

.ballPark{
  width: 500px;

}

.imgGif{
  margin: 20px;
}

.contenedorFooter{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
height: 200px;
background-image: linear-gradient(to left, gray, black, gray, black);
}

.logosRS{
  width: 30px;
  height: 35px;
}

.wtsLogo{
  height: 40px;
}



.contenedorEquipos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
      .divEquipos{
        margin: 10px;
      }
}

.formEquipos{
  display: flex;
  justify-content: center;
}

// INICIO DE SESION

.contenedorUsuario{
  width: 300px;
  height: 500px;
  border: solid gray 3px;
  margin: 50px;
  border-radius: 10px;
}

.imgUsuario{
  width: 100px;
  height: 100px;
  margin: 50px 50px 15px 100px;
  border-radius: 50%;
}

.parrafo{
  margin: 0px 0px 5px 0px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}       

  .datos{  
      margin: 0px 15px 0px 15px;
  }

.inputUsuario{
  margin: 0px 0px 0px 0px;
  width: 99%;
  height: 40px;
  border-radius: 5px;
  padding: 2px;
 
  
}
.btn{
  border-radius: 5px;
  width: 80%;
  height: 50px;
  margin: 15px 0px 0px 30px;
  background-color: rgb(88, 81, 147);
  color: white;
}

.btn:hover{
  background-color: rgb(117, 0, 226);
}

.parrafo2{
  margin: 20px 40px 0px 80px;
 border: solid black 1px;
 border-radius: 10px;
  padding: 5px;
}

.parrafo2:hover{
  background-color: gray;
}
.contenedorGrande{
  display: flex;
  justify-content: center;
}